<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>229436334835-570ke13ld3b7gqebokh631ted536slii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229436334835-570ke13ld3b7gqebokh631ted536slii</string>
	<key>API_KEY</key>
	<string>AIzaSyAA21FFFpGYTrckmouWcl7c97nattMO0wQ</string>
	<key>GCM_SENDER_ID</key>
	<string>229436334835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osvaldomurillo.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-fe5bf</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-fe5bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229436334835:ios:5c3492b194e7b5b9</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-fe5bf.firebaseio.com</string>
</dict>
</plist>